body{
    margin: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: #cccccc;
}
/*
.catalogo{
    background-color: #cfcfcf;
}
*/
footer{
    background-color: blanchedalmond;
}
